<div class="panel panel-default">
  <div class="panel-heading">
      <h1 style="text-align: center">Students</h1><br>
      <div class="row" [hidden]="!deleteMessage">

                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                        <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Student Data Deleted</strong>
                        </div>
                </div>
                <div class="col-sm-4"></div>
        </div>
    </div>


  <div class="panel-body">
      <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"  >
          <thead class="thead-light">
              <tr>
                  <th> Id </th>
                  <th> First Name</th>
                  <th> Last Name</th>
                  <th> Email Id</th>
                  <th> Branch</th>
                  <th>Phone Number</th>
                  <th>Action</th>

              </tr>
          </thead>
          <tbody>
               <tr *ngFor="let student of students ">
                 <td>{{student.id}}</td>
                  <td>{{student.firstName}}</td>
                 <td>{{student.lastName}}</td>
                  <td>{{student.email}}</td>
                  <td>{{student.branch}}</td>
                   <td>{{student.phoneNumber}}</td>
                  <td><button (click)="deleteStudent(student.id)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                    <button (click)="updateStudent(student.id)" class='btn btn-info'
                    data-toggle="modal" data-target="#myModal">Update</button>
                  </td>
                </tr>
          </tbody><br>
      </table>
  </div>
</div>

<div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
                <form [formGroup]="studentupdateform" #updstu (ngSubmit)="updateStu(updstu)">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center">Update Student</h4>

            </div>

            <!-- Modal body -->
            <div class="modal-body" *ngFor="let student of studentlist " >
                <div [hidden]="isupdated">

                    <input type="hidden" class="form-control"  formControlName="id" [(ngModel)]="student.id">
                            <div class="form-group">
                                <label for="name">First Name</label>
                                <input type="text" class="form-control"  formControlName="firstName" [(ngModel)]="student.firstName"  >
                            </div>

                         <div class="form-group">
                             <label for="name">Last Name</label>
                            <input type="text" class="form-control"  formControlName="lastName" [(ngModel)]="student.lastName"  >
                          </div>

                            <div class="form-group">
                                <label for="name">Email Id</label>
                                <input type="text" class="form-control" formControlName="email" [(ngModel)]="student.email">
                            </div>
                    <div class="form-group">
                        <label for="name">Phone Number</label>
                        <input type="text" class="form-control" formControlName="phoneNumber"[(ngModel)]="student.phoneNumber">
                    </div>

                            <div class="form-group">
                                <label for="name">Branch</label>
                                  <select class="form-control" formControlName="branch" required>
                                    <option value="B-Tech" [selected]="'B-Tech' == student.branch">B-Tech</option>
                                    <option value="BCA" [selected]="'BCA' == student.branch">BCA</option>
                                    <option value="MCA" [selected]="'MCA' == student.branch" >MCA</option>
                                    <option value="M-Tech" [selected]="'M-Tech' == student.branch">M-Tech</option>
                                    <option value="B.sc" [selected]="'B.Sc' == student.branch">B.Sc</option>
                                  </select>
                            </div>

                  </div>
                  <div [hidden]="!isupdated">
                      <h4>Student Detail Updated!</h4>
                  </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer" >
              <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
            </div>

        </form>
          </div>
        </div>
      </div>
